 div.form-item {
    padding: 2rem 0;
  }

input, textarea, select  {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
}

textarea {
  height: 10rem;
}

// Generic Styles ;)
* {
  box-sizing: border-box;
}
